
{% extends "_layout.twig" %}

{% block content %}
<main class="contactform">
    <div class="flex justify-center">
        <div class="w-3/5">
            {{ craft.formie.renderForm('contactForm') }}
        </div>
    </div>

</main>

{% endblock %}