<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{siteUrl}}css/main.css">
</head>
<body>
{% include 'snippets/_nav.twig' %}
{% block content %}

{% endblock %}
{% include 'snippets/_footer.twig' %}

</body>
</html>
