$wit: #ffffff;
$licht_blauw: #aec0b4;
$blauw: #5f8688;
$donker_blauw: #0a333e;
$donkerder_blauw: #061a1f;
$donker_thema: #1A1A1A;
$grijs: #999;
$zwart: #000000;
$succes: darkgreen;

$font_Oswald: 'Oswald', sans-serif;
$font_Rubik: 'Rubik', sans-serif;

$font_groot: 55px;
$font_titel: 45px;
$font_subtitel2: 30px;
$font_subtitel: 20px;
$font_tekst: 18px;
$font_klein: 16px;
$font_kleinste: 10px;

$font_titel_gsm: 24px;
$font_tekst_gsm: 14px;
$font_kleinKekst_gsm: 10px;

$card_counter: 3;

* {
  margin: 0;
  padding: 0;
}

@mixin flexLayout() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin achtergrondAfbeelding($pad) {
  background-image: url($pad);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  z-index: 1;
}

@mixin kaderInput($margin_bottom) {
  box-sizing: border-box;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: $margin_bottom;
  width: 100%;
  border-radius: 5px;
  border: none;
}

@mixin buttonOpmaak($kleur: $donker_blauw) {
  background-color: $kleur;
  font-size: $font_klein;
  color: $wit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@mixin buttonLayoutGroot($kleur: $donker_blauw) {
  background-color: $kleur;
  color: $wit;
  width: 60%;
  padding: 12px;
  border-radius: 4px;
  margin: 15px;
  border: none;
  cursor: pointer;
}

@mixin buttonLayoutKlein($kleur: $donker_blauw) {
  background-color: $kleur;
  color: $wit;
  padding: 12px;
  margin-top: 40px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@mixin buttonOpmaakGsm($kleur: $donker_blauw) {
  background-color: $kleur;
  font-size: $font_tekst_gsm;
  color: $wit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@mixin buttonLayoutGrootGsm() {
  width: 50%;
  padding: 12px;
  margin: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@mixin buttonLayoutKleinGsm() {
  width: 20%;
  padding: 8px;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
